{% extends 'shop/layout.html' %}
{% block title %} Search - MyAwesomeCart {% endblock %}
{% block css %}
.col-md-3 {
display: inline-block;
margin-left: -4px;
}

.carousel-indicators .active {
background-color: blue;
}

.col-md-3 img {
width: 227px;
max-height: 320px;
}

body .carousel-indicator li {
background-color: blue;
}

body .carousel-indicators {
bottom: 0;
}

.carousel-control-prev,
.carousel-control-next {
top: auto;
bottom: auto;
padding-top: 250px;
top: 50%;
transform: translateY(-50%);
width: 40px; /* Adjust the width of the controls */
height: 40px; /* Adjust the height of the controls */
color: transparent; /* Hide the default text color */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
background-color: blue; /* Set the background color to blue */
border-radius: 50%; /* Make the icon container circular */
width: 40px; /* Adjust the width of the icon */
height: 40px; /* Adjust the height of the icon */
background-size: 50%; /* Adjust the size of the icon */
background-repeat: no-repeat; /* Ensure the icon does not repeat */
}

body .no-padding {
padding-left: 0;
padding-right: 0;
}
{% endblock %}
{% block body %}
{% load static %}

<!-- carousel indicators starts from here -->

<div class="container" xmlns:data="http://www.w3.org/1999/xhtml">
    {% for product, range, nSlides in allProds %}
    <h3 class="mt-5 mb-5">{{product.0.category}}</h3>
    <div id="demo{{forloop.counter}}" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>
            {% for i in range %}
            <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}"></li>
            {% endfor %}
        </ul>

        <!-- slideshow starts here -->

        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    {% for i in product %}
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <div class="card" style="width: 16.5rem">
                            <img src='/media/{{i.image}}' class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{i.product_name}}</h5>
                                <p class="card-text">{{i.product_desc|safe|slice:"0:53"}}...</p>
                                <div class="row">
                                    <div class="col-md-6">
                                        <span id="divproduct_{{i.product_id}}" class="divproduct">
                                            <button id="product_{{i.product_id}}" class="btn btn-warning cart">Add
                                                Cart</button>
                                        </span>
                                    </div>
                                    <div>
                                        <a href="/shop/products/{{i.product_id}}"><button id="qv_{{i.product_id}}"
                                                class="btn btn-primary">Quick View</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    {% endif %}

                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

{% block js %}
{% endblock %}